body{
    font-family: Arial, Helvetica, sans-serif
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(122, 164, 178);
    padding: 10px;
}
header h1 {
    margin: 0;
    font-family: monospace;
}
h2{
    padding: 5px;
    background-color: lightgray;
}
form > div {
    background-color: rgb(122, 164, 178);
    padding: 10px;
    margin-block: 10px;
}
form > button {
    display: block;
    margin-inline-start: auto;
    margin-inline-end: 10px;
}
input {
    accent-color: #333;
}
input:not([type=range], [type="radio"]), select {
    padding: 2px 5px;
    margin-inline-start: 5px;
    transition: 1s;
}

input:focus, select:focus {
    background-color: lightgray;
}

input[type=radio]:checked + span {
    color: whitesmoke;
    /* font-weight: bold; */
}

button {
    padding: 2px 2em;
    transition: 0.75s;
}
button:hover {
    background-color: aqua;
}
.photo-tuner {
    display: flex;
    gap: 100px;
}
.photo-tuner button{
    align-self: end;
    margin-inline-start: auto;
}
.photo-tuner .controls {
    display: grid;
    grid-template-columns: min-content 1fr;
}
.photo-tuner .controls h4{
    grid-column: 1 / -1;
}
pre {
    padding: 10px;
    background-color: lightgray;
    font-size: 1.2em;
    font-weight: bold;
}