.pill-checkbox {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

.pill-checkbox input[type="checkbox"] {
    display: none;
}

.pill-checkbox-label {
    position: relative;
    display: block;

    background-color: rgb(121, 144, 152);
    
    width: 60px;
    height: 30px;
    
    border-radius: 100vh;
}

.pill-checkbox-label > div {
    position: absolute;
    left: 0;
    top:0;

    width: 50%;
    height: 100%;
    
    background-color: darkseagreen;
    border-radius: 50%;
    
    transition: all 0.4s ease-in-out;
}

.pill-checkbox > input[type="checkbox"]:checked + .pill-checkbox-label > div {
    translate: 100% 0;
}